<footer>
  This is my awesome, dynamically inserted footer! Data from <a href="https://data.ny.gov/Public-Safety/Index-Crimes-by-County-and-Agency-Beginning-1990/ca8h-8gjq" target="_blank"> NYC Data.Gov - Crimes by County and Agency</a>
</footer>
