<footer>
  This is the Crime Data as reported from all the agencies in New York State! Data from <a href="https://data.ny.gov/Public-Safety/Index-Crimes-by-County-and-Agency-Beginning-1990/ca8h-8gjq" target="_blank"> NYC Data.Gov - Crimes by County and Agency</a>
</footer>
